%% Interval specifies how often requests are fired.
%% * must be an integer above 0
%% * optional, default is 1
{interval, 5}.

%% Concurrency specifies the amount of concurrent processes
%% launching requests against the target.
%% * must be an integer above 0
%% * optional, default is 1
{concurrency, 1000}.
